.container-fluid {
  background-color: #f2f2f2;
  text-align: center;
}

.blog-item {
  min-height: 380px;
  width: 350px;
  display: inline-block;
  background-color: #ffffff;
  padding: 30px;
  margin: 10px;
  box-shadow: 2px 2px 20px #cecece;
}

.blog-item__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.blog-item__header h1 {
  font-size: 22px;
  margin: 0;
  color: #6c01a3;
}

.blog-item__header .div-left {
  margin-left: auto;
  display: grid;
  grid-template-columns: 55px 55px;
}

.blog-item__header .div-left .btn {
  padding: 5px;
  font-size: 12px;
  width: 50px;
}


.blog-item__header .icon {
  margin-left: auto;
}

.blog-item__header .icon button {
  margin-left: 10px;
  border: none;
}

.blog-item__body p {
  font-size: 18px;
  line-height: 32px;
  color: #4c4c4c;
  text-align: left;
}

.blog-item__like-comment {
  display: flex;
  color: #979797;
}

.blog-item__like-comment div{
  border-right: 1px solid;
  padding-right: 10px;
  padding-left: 10px;
}

.blog-item__like-comment div:last-child {
  border-right: none;
}

.blog-item__like-comment div .svg-inline--fa {
  margin-right: 10px;
  color: #f27396;
}

.blog-item__like-comment div:first-child {
  padding-left: 0;
}

.blog-item__author  {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.blog-item__author .blog-item__author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #121216;
  margin-right: 10px;
}

.blog-item__author .blog-item__author-image img {
  border-radius: 50%;
  height: 40px;
}

.blog-item__author .blog-item__author-name {
  font-weight: bold;
  color: #4c4c4c;
  margin: 0;
}

.add-container .btn-success{
  float: none !important;
  margin: 20px;

}